body 
{
  background-color: #ececec;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

.DateTimePicker {
  width: 220px;
  position: relative;
  float: left;
  background-color: #fafafa;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-align: center;
}

.DateTimeBar {
  padding-top: 10px;
  height: 30px;
  padding-bottom: -50%;
  background-color: rgba(0, 188, 212, 1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.DateTimeBar .time-bar {
  width: 100%;
  text-align: center;
}

.DateTimeBar .prev-month {
  float: left;
  width: 10px;
  margin-left: 5px;
}

.DateTimeBar .next-month {
  float: right;
  width: 10px;
  margin-right: 5px;
}

.DateSelector table {
  margin-left: auto;
  margin-right: auto;
}

.date {
  text-align: center;
  padding: 2px 2px;
}

.date:hover {
  background-color: rgba(224, 224, 224, 1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 0px solid;
  border-radius: 25px;
}

.YearSelector {
  margin-left: auto;
  margin-right: auto;
}

.YearSelector div {
  padding-top: 5px;
}

.TimeSelector {
  margin-left: auto;
  margin-right: auto;
  height: 220px;
}

.TimeSelector div {
  padding-top: 5px;
}

.TimeSelector .hour {
  width: 110px;
  height: 100%;
  float: left;
  overflow-y: auto;
}

.TimeSelector .minute {
  width: 110px;
  height: 100%;
  float: left;
  overflow-y: auto;
}
